<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<center>
		<header><h1><u>My Home Page</u></h1></header>
	</center>
	<a href="{% url 'registerv'%}">Register</a></br> 	 <!-- This 'registerv' value we assighn here and we will pass this through Django to url.py page.  -->
	<a href="{% url 'mywordsv'%}">Write a Message</a>	<!-- This 'mywordsv' value we assighn here and we will pass this through Django to url.py page.  -->
	<link rel="stylesheet" type="text/css" href="Events.css">
</head>	
<body>
</body>
</html>